<%- include("partials/header") -%>
 
<nav class="navbar navbar-expand-lg navbar-dark p-0" id="bg-dark">

    <div class="container-fluid">
        <a class="navbar-brand " id="portalTop" href="/allQuiz">Edit Quizes</a>
          
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
         <div style="margin-right: 20px;" class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-user"></i> Welcome <%=printData[0].username%>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          
                          <li><hr class="dropdown-divider"></li>
                          <li> <form id="LOG" action="/logout" method="post">
                            <a style="cursor: pointer;" class="dropdown-item" onclick="myFunction()">
                             <i class="fa fa-user-times"></i> Logout
                           </a>
                          </form></li>
                        </ul>
                      </li>
                 <li class="nav-item">
                     <a href="/user/1/notification" class="nav-link">
                         <i class="fa fa-bell"></i><span class="badge badge-danger badge-pill">2</span>
                     </a>
                 </li>
               </ul>
         </div>
        </div>
   </nav>
   <div class="row">
<% for(var i=0; i<showQus.length; i++){ %>

    <div class="card" style="width: 18rem; margin: 20px;">
        <form action="/removeQus" method="POST">
        <div class="card-body">
          <h5 class="card-title"><%= showQus[i].subject %></h5>
          <p class="card-text"><%= showQus[i].question %></p>
          <button id="deleteOption" type="submit" name="button" value="<%= showQus[i]._id %>">
            <i class=" fas fa-trash-alt" ></i>
          </button>
        </form>
        </div>
      </div>
 
<% } %>
</div>





<%- include("partials/footer") -%>