<%- include("partials/header") -%>
 <%- include("partials/navbar") -%>



<header id="main-header" style="background-color: #125D98;" class="py-2 text-white">
    <div style="text-align: center;">
      <h1><i class="fas fa-sticky-note"></i> Dashboard</h1>
    </div>
  </header>
  
   <section id="home" class="mt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
          
            <img src="uploads/<%=printData.imagename || "profilee.png"%>"  class="portalImg  p-1" alt="...">
            <div class="card-body">
              <h3 class="details"><%=printData.name%> <%=printData.lname%></h3>
              <p class="details" >3rd</p>
            </div>
          </div>
          <button class="logoutButton"><form id="LOG" action="/logout" method="post">
            <a style="cursor: pointer; font-weight: 600; font-size: large; color: white;" class="dropdown-item" onclick="myFunction()">
             <i class="fa fa-user-times" style="color: white;"></i> Logout
           </a>
          </form></button>
        </div>
        <div class="col-md-9">
          
          <div class="card">
            <div class="card-header text-center">
              <h4>Active Quizes</h4>
            </div>
            <table class="table table-striped">

              <div class="card" style="width: 18rem; margin: 30px;">
                <div style="  text-align:center; height: 100px; background-color: #125D98;"><i style="z-index: 10; margin: auto;  color: white; margin-top: 23px;" class="fas fa-question fa-3x"></i></div>
                <div class="card-body">
                  <h5 class="card-title">Quiz on Javascript</h5>
                  <p class="card-text">No. of questions: 10</p>
                  <a href="/quiz" style="background-color: #125D98; color: white; font-weight: 700;" class="btn">Start</a>
                </div>
              </div>
              
            </table>
  
          </div>
        </div>
      </div>
    </div>
  </section>





<%- include("partials/footer") -%>